@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: 100%;
    background: -moz-linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}